body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.apply-change-button {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-content: center;
  justify-content: center;
}
.apply-changes-true {
  height: 25px;
  border-radius: 2px;
  background-color: #242323;
  font-size: 12px;
  color: white;
  border: 2px solid green;
}
.apply-changes-false {
  height: 25px;
  border-radius: 2px;
  background-color: #3b3b3b;
  font-size: 12px;
  color: white;
  border: 2px solid red;
}
.panels {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  overflow-y: hidden;
}
.editor-container {
  flex: 0.5;
  height: 100vh;
}
.tab-content {
  flex: 1 1 auto;

  background: blue;
}
.tab-pane {
  height: 100%;
}
.tab-container {
  height: 100vh;
  flex: 0.5;
}
.tab-name-panel {
  background: #202020;
  flex: 0.2;
}
.tab-name {
  padding: 0;
  color: white;
  position: absolute;
  width: 80px;
}
.tabs-display {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
}
.test {
  background: red;
}
.tab-text {
}
.close-icon {
  position: absolute;
  border-radius: 50%;
  left: 55px;
  cursor: pointer;
  padding: 3px 4px;
}
.add-icon {
  padding: 14px;
  color: rgb(155, 155, 155);
}
.add-icon:hover {
  color: white;
  cursor: pointer;
}

.close-icon:hover {
  background: rgba(0, 0, 0, 0.63);
  color: white;
}

.chat-bot-container {
  flex: 0.5;

  height: 100%;
  padding: 4% 25px;
  background: #0f0f0f;
}
.chat-bot {
  height: 100%;
  width: 100%;
}
.chat {
  padding: 0 10px;
  width: 100%;
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 2px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
}
.user-message {
  margin-top: 30px;
  width: 100%;
  height: 10%;
  padding-bottom: 10px;
}
.user-message-box {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a9a9a9;
  border: 0;
  padding: 10px;
}
.user-chat-message-container {
  width: 100%;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 60px;
}
.bot-chat-message-container {
  width: 100%;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: row;
  padding-right: 60px;
}

.bot-icon {
  color: #404040;
  font-size: 18px;
  padding: 0 10px 0 0;
}
.user-icon {
  font-size: 18px;

  color: #404040;
  padding: 0 0 0 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 8px;
  background-color: #404040;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d3d3d3;
}
@media only screen and (max-width: 1000px) {
  .tab-container {
    flex: 0;
    display: none;
  }
  .chat-bot-container {
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 20px 25px 20px 25px;
  }
  .apply-change-button {
    display: none;
  }
}
